<form action="/tweets" method="POST">
  <h3>Content:</h3>
  <input type="text" name="content"><br>
  <h3>Create Your Tweet:</h3>
  <input type="submit" id="submit">
</form>

<% if !logged_in? %>
    <h1> You Must Be Logged in to Make Tweets </h1>
<% end %>
