<% if is_logged_in?(session) %>
<%= @error %>
  <form action='/tweets' method="post">
    <p>Content:
    <input type="text" name="content" id="content"><br></p>
    <p>Create Your Tweet:</p>

    <input type="submit" name="submit" id="submit">

  </form>

  <% else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
  <% end %>
