<h1><%= @user.username%>'s Tweets</h1>

<% @user.tweets.each do |tweet| %>
  <div class="tweet">
    <%= tweet.content %>
    <form action="/tweets" method="POST">
      <input type="hidden" id="hidden" name="_method" value="DELETE">
      <input type="submit" value="X">
    </form>
  </div>
<% end %>