<html>
	<body>
		<h1>Sign Up</h1>
		<form method = "POST" action = "/signup">
			<p><label for="Username">Username:</label>
			<input type="text" name="user[username]" id="Username" required></p>
			<p><label for="Email">Email:</label>
			<input type="text" name="user[email]" id="Email" required></p>
			<p><label for="Password">Password:</label>
			<input type="password" name="user[password]" id="Password" required></p>
			<input type="submit" id="submit" value="Sign Up">
		</form>
	</body>
</html>