<form method="POST" action="/signup">
  <input type="text" name="username" required>
  <input type="email" name="email" required>
  <input type="password" name="password" required>
  <input type="submit" id="submit" value="Sign Up">
</form>
